@page
@model IndexModel
@{
    ViewData["Title"] = "Alerts & Notifications";
    var pg = ViewBag;
        pg.title = "Alerts & Notifications";
        pg.id = 9;
        pg.parent = null;
        pg.hasSidebar = true;
        pg.type = "default";
}

<section class="introduction">
    <div class="wrapper">

        <blockquote class="jumbotron">
            <h1>Alerts &amp; Notifications</h1>
            <!-- <p class="lead"></p>
            <p></p> -->
        </blockquote>

    </div>
</section>
