@page
@model IndexModel
@{
    ViewData["Title"] = "Containers";
    var pg = ViewBag;
        pg.title = "Containers";
        pg.id = 6;
        pg.parent = null;
        pg.hasSidebar = true;
        pg.hasFooter = true;
        pg.type = "default";
}

<section class="introduction">
	<div class="wrapper">
		<div class="jumbotron shadow">
			<h1 class="display-4">Containers</h1>
			<p class="lead">Containers provide a flexible and extensible content area for custom components, with multiple variants and options.</p>
			<hr>
			<p>A <b>card</b> is a flexible and extensible content container. It includes options for headers and footers, a wide variety of content, contextual background colors, and powerful display options. <b>Jumbotrons</b> are lightweight, flexible components that can optionally extend the entire viewport to showcase key messages. <b>List groups</b> are a flexible and powerful component for displaying a series of content. Modify and extend any of these three components to support just about any need.</p>
		</div>
		<div class="bs-component">
			<h2 id="containers">Jumbotron</h2>
			<hr>
			<p>A lightweight, flexible component that can optionally extend the entire viewport to showcase key marketing messages on your site.</p>
			<div class="jumbotron shadow">
				<h1 class="display-3">Hello, world!</h1>
				<p class="lead">This is a simple jumbotron-style component for calling extra attention to featured content or information.</p>
				<hr class="my-4">
				<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
				<p class="lead"><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
			</div>
			<pre class="p-4 bg-dark text-light border">
<code>&lt;div class=&quot;jumbotron&quot;&gt;
  &lt;h1 class=&quot;display-4&quot;&gt;</code>Hello, world!<code>&lt;/h1&gt;
  &lt;p class=&quot;lead&quot;&gt;</code>This a simple jumbotron-style component
  for calling extra attention to featured content or information.<code>&lt;/p&gt;
  &lt;hr class=&quot;my-4&quot;&gt;
  &lt;p&gt;</code>It uses utility classes for typography and spacing to
  space content out within the larger container.<code>&lt;/p&gt;
  &lt;a class=&quot;btn btn-primary btn-lg&quot; href=&quot;#&quot; role=&quot;button&quot;&gt;</code>Learn more<code>&lt;/a&gt;
&lt;/div&gt;</code></pre>
		</div>
		<div class=" bs-component row">
			<div class="col-lg-12">
				<h2>List groups</h2>
				<hr>
			</div>
		</div>
		<p>The most basic list group is an unordered list with list items and the proper classes. Build upon it with the options that follow, or with your own CSS as needed.</p>
		<div class="row mb-4">
			<div class="col-lg-6">
				<div class="bs-component">
					<ul class="list-group">
						<li class="list-group-item d-flex justify-content-between align-items-center">Cras justo odio <span class="badge badge-primary badge-pill">14</span></li>
						<li class="list-group-item d-flex justify-content-between align-items-center">Dapibus ac facilisis in <span class="badge badge-primary badge-pill">2</span></li>
						<li class="list-group-item d-flex justify-content-between align-items-center">Morbi leo risus <span class="badge badge-primary badge-pill">1</span></li>
					</ul>
				</div>
				<div class="mt-4">
					<pre class="p-2 text-light bg-dark"><code>&lt;ul class=&quot;list-group&quot;&gt;
  &lt;li class=&quot;list-group-item&quot;&gt;</code>Cras justo odio<code>&lt;/li&gt;
  &lt;li class=&quot;list-group-item&quot;&gt;</code>Dapibus ac facilisis in<code>&lt;/li&gt;
  &lt;li class=&quot;list-group-item&quot;&gt;</code>Morbi leo risus<code>&lt;/li&gt;
  &lt;li class=&quot;list-group-item&quot;&gt;</code>Porta ac consectetur ac<code>&lt;/li&gt;
  &lt;li class=&quot;list-group-item&quot;&gt;</code>Vestibulum at eros<code>&lt;/li&gt;
&lt;/ul&gt;</code></pre>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="bs-component">
					<div class="list-group">
						<a class="list-group-item list-group-item-action active bg-primary" href="#">Cras justo odio</a> <a class="list-group-item list-group-item-action" href="#">Dapibus ac facilisis in</a> <a class="list-group-item list-group-item-action disabled" href="#">Morbi leo risus</a>
					</div>
				</div>
				<div class="mt-4">
					<pre class="p-2 text-light bg-dark"><code>&lt;ul class=&quot;list-group&quot;&gt;
  &lt;li class=&quot;list-group-item active&quot;&gt;</code>Cras justo odio<code>&lt;/li&gt;
  &lt;li class=&quot;list-group-item&quot;&gt;</code>Dapibus ac facilisis in<code>&lt;/li&gt;
  &lt;li class=&quot;list-group-item&quot;&gt;</code>Morbi leo risus<code>&lt;/li&gt;
  &lt;li class=&quot;list-group-item&quot;&gt;</code>Porta ac consectetur ac<code>&lt;/li&gt;
  &lt;li class=&quot;list-group-item&quot;&gt;</code>Vestibulum at eros<code>&lt;/li&gt;
&lt;/ul&gt;</code></pre>
				</div>
			</div>
		</div>
		<p>Add <code>.active</code> to a <code>.list-group-item</code> to indicate the current active selection.</p>
		<p>Add <code>.disabled</code> to a <code>.list-group-item</code> to make it <em>appear</em> disabled. Note that some elements with <code>.disabled</code> will also require custom JavaScript to fully disable their click events (e.g., links).</p>
		<div class="row mb-4">
			<div class="col-lg-12">
				<div class="shadow">
					<div class="list-group">
						<a class="list-group-item list-group-item-action flex-column align-items-start active bg-primary" href="#">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">List group item heading</h5><small>3 days ago</small>
						</div>
						<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p><small>Donec id elit non mi porta.</small></a> <a class="list-group-item list-group-item-action flex-column align-items-start" href="#">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">List group item heading</h5><small class="text-muted">3 days ago</small>
						</div>
						<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p><small class="text-muted">Donec id elit non mi porta.</small></a> <a class="list-group-item list-group-item-action flex-column align-items-start" href="#">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">List group item heading</h5><small class="text-muted">3 days ago</small>
						</div>
						<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p><small class="text-muted">Donec id elit non mi porta.</small></a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<h2>Cards</h2>
				<hr>
				<p>A <strong>card</strong> is a flexible and extensible content container. It includes options for headers and footers, a wide variety of content, contextual background colors, and powerful display options. If you’re familiar with Bootstrap 3, cards replace our old panels, wells, and thumbnails. Similar functionality to those components is available as modifier classes for cards.</p>
				<p>Cards are built with as little markup and styles as possible, but still manage to deliver a ton of control and customization. Built with flexbox, they offer easy alignment and mix well with other Bootstrap components. They have no <code>margin</code> by default, so use spacing utilities as needed.</p>
				<p>Below is an example of a basic card with mixed content and a fixed width. Cards have no fixed width to start, so they’ll naturally fill the full width of its parent element. This is easily customized with our various sizing options.</p>
			</div>
		</div>
		<div class="row mb-4">
			<div class="col-lg-4">
				<div class="bs-component">
					<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
						<div class="card-header">
							Header
						</div>
						<div class="card-body">
							<h4 class="card-title">Primary card title</h4>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>
					</div>
					<div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
						<div class="card-header">
							Header
						</div>
						<div class="card-body">
							<h4 class="card-title">Secondary card title</h4>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>
					</div>
					<div class="card text-white bg-success mb-3" style="max-width: 20rem;">
						<div class="card-header">
							Header
						</div>
						<div class="card-body">
							<h4 class="card-title">Success card title</h4>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>
					</div>
					<div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
						<div class="card-header">
							Header
						</div>
						<div class="card-body">
							<h4 class="card-title">Danger card title</h4>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>
					</div>
					<div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
						<div class="card-header">
							Header
						</div>
						<div class="card-body">
							<h4 class="card-title">Warning card title</h4>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>
					</div>
					<div class="card text-white bg-info mb-3" style="max-width: 20rem;">
						<div class="card-header">
							Header
						</div>
						<div class="card-body">
							<h4 class="card-title">Info card title</h4>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>
					</div>
					<div class="card bg-light mb-3" style="max-width: 20rem;">
						<div class="card-header">
							Header
						</div>
						<div class="card-body">
							<h4 class="card-title">Light card title</h4>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>
					</div>
					<div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
						<div class="card-header">
							Header
						</div>
						<div class="card-body">
							<h4 class="card-title">Dark card title</h4>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="bs-component">
					<div class="card border-primary mb-3" style="max-width: 20rem;">
						<div class="card-header">
							Header
						</div>
						<div class="card-body">
							<h4 class="card-title">Primary card title</h4>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>
					</div>
					<div class="card border-secondary mb-3" style="max-width: 20rem;">
						<div class="card-header">
							Header
						</div>
						<div class="card-body">
							<h4 class="card-title">Secondary card title</h4>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>
					</div>
					<div class="card border-success mb-3" style="max-width: 20rem;">
						<div class="card-header">
							Header
						</div>
						<div class="card-body">
							<h4 class="card-title">Success card title</h4>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>
					</div>
					<div class="card border-danger mb-3" style="max-width: 20rem;">
						<div class="card-header">
							Header
						</div>
						<div class="card-body">
							<h4 class="card-title">Danger card title</h4>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>
					</div>
					<div class="card border-warning mb-3" style="max-width: 20rem;">
						<div class="card-header">
							Header
						</div>
						<div class="card-body">
							<h4 class="card-title">Warning card title</h4>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>
					</div>
					<div class="card border-info mb-3" style="max-width: 20rem;">
						<div class="card-header">
							Header
						</div>
						<div class="card-body">
							<h4 class="card-title">Info card title</h4>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>
					</div>
					<div class="card border-light mb-3" style="max-width: 20rem;">
						<div class="card-header">
							Header
						</div>
						<div class="card-body">
							<h4 class="card-title">Light card title</h4>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>
					</div>
					<div class="card border-dark mb-3" style="max-width: 20rem;">
						<div class="card-header">
							Header
						</div>
						<div class="card-body">
							<h4 class="card-title">Dark card title</h4>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="bs-component">
					<div class="card mb-3">
						<h3 class="card-header">Card header</h3>
						<div class="card-body">
							<h5 class="card-title">Special title treatment</h5>
							<h6 class="card-subtitle text-muted">Support card subtitle</h6>
						</div><img alt="Card image" src="/img/img1.jpg" width="100%" height="auto">
						<div class="card-body">
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">Cras justo odio</li>
							<li class="list-group-item">Dapibus ac facilisis in</li>
							<li class="list-group-item">Vestibulum at eros</li>
						</ul>
						<div class="card-body">
							<a class="card-link" href="#">Card link</a> <a class="card-link" href="#">Another link</a>
						</div>
						<div class="card-footer text-muted">
							2 days ago
						</div>
					</div>
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">Card title</h4>
							<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p><a class="card-link" href="#">Card link</a> <a class="card-link" href="#">Another link</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr class="mb-4">
		<div class="row bs-component mb-4">
			<div class="col-4">
				<div class="card">
					<img height="auto" src="/img/img3.jpg" width="100%">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p><a class="btn btn-primary" href="#">Go somewhere</a>
					</div>
				</div>
			</div>
			<div class="col-8">
				<pre class="bg-dark text-light p-4"><code>&lt;div class=&quot;card&quot;&gt;
    &lt;img src=&quot;/img/img3.jpg&quot; width=&quot;100%&quot; height=&quot;auto&quot; /&gt;
    &lt;div class=&quot;card-body&quot;&gt;
        &lt;h5 class=&quot;card-title&quot;&gt;</code>Card title<code>&lt;/h5&gt;
        &lt;p class=&quot;card-text&quot;&gt;</code>Some quick example text to build
        on the card title and make up the bulk of the card&apos;s content.<code>&lt;/p&gt;
        &lt;a href=&quot;#&quot; class=&quot;btn btn-primary&quot;&gt;</code>Go somewhere<code>&lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
			</div>
		</div>
		<hr class="mb-4">
		<div class="row bs-component mb-4">
			<div class="col-4">
				<div class="card shadow">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p><a class="card-link" href="#">Card link</a> <a class="card-link" href="#">Another link</a>
					</div>
				</div>
			</div>
			<div class="col-8">
				<pre class="bg-dark text-light p-4"><code>&lt;div class=&quot;card shadow&quot;&gt;
    &lt;div class=&quot;card-body&quot;&gt;
        &lt;h5 class=&quot;card-title&quot;&gt;</code>Card title<code>&lt;/h5&gt;
        &lt;h6 class=&quot;card-subtitle mb-2 text-muted&quot;&gt;</code>Card subtitle<code>&lt;/h6&gt;
        &lt;p class=&quot;card-text&quot;&gt;</code>Some quick example text to build
        on the card title and make up the bulk of the card&apos;s content.<code>&lt;/p&gt;
        &lt;a href=&quot;#&quot; class=&quot;card-link&quot;&gt;</code>Card link<code>&lt;/a&gt;
        &lt;a href=&quot;#&quot; class=&quot;card-link&quot;&gt;</code>Another link<code>&lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
			</div>
		</div>
		<hr class="mb-4">
		<div class="row bs-component mb-4">
			<div class="col-4">
				<div class="card bg-primary text-center">
					<div class="card-header text-light">
						Featured
					</div>
					<div class="card-body text-white">
						<h5 class="card-title">Special title treatment</h5>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
					</div>
					<div class="card-footer text-light">
						2 days ago
					</div>
				</div>
			</div>
			<div class="col-8">
				<pre class="bg-dark text-light p-4"><code>&lt;div class=&quot;card bg-primary text-center&quot;&gt;
    &lt;div class=&quot;card-header text-light&quot;&gt;
        </code>Featured<code>
    &lt;/div&gt;
    &lt;div class=&quot;card-body text-white&quot;&gt;
        &lt;h5 class=&quot;card-title&quot;&gt;</code>Special title treatment<code>&lt;/h5&gt;
        &lt;p class=&quot;card-text&quot;&gt;</code>With supporting text below as a
        natural lead-in to additional content.<code>&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card-footer text-light&quot;&gt;
        </code>2 days ago<code>
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
			</div>
		</div>
	</div>
</section>
