@page
@model IndexModel
@{
    ViewData["Title"] = "Status Indicators";
    var pg = ViewBag;
        pg.title = "Status Indicators";
        pg.id = 10;
        pg.parent = null;
        pg.hasSidebar = true;
        pg.type = "default";
}

<section class="introduction">
    <div class="wrapper">

        <blockquote class="jumbotron">
            <h1>Status Indicators</h1>
            <!-- <p class="lead"></p>
            <p></p> -->
        </blockquote>

    </div>
</section>
