@page
@model IndexModel
@{
    ViewData["Title"] = "Tabs & Accordions";
    var pg = ViewBag;
        pg.title = "Tabs & Accordions";
        pg.id = 11;
        pg.parent = null;
        pg.hasSidebar = true;
        pg.type = "default";
}

<section class="introduction">
    <div class="wrapper">

        <blockquote class="jumbotron">
            <h1>Tabs &amp; Accordions</h1>
            <!-- <p class="lead"></p>
            <p></p> -->
        </blockquote>

    </div>
</section>
