@page
@model IndexModel
@{
    ViewData["Title"] = "Typography";
    var pg = ViewBag;
        pg.title = "Typography";
        pg.id = 4;
        pg.parent = null;
        pg.hasSidebar = true;
        pg.type = "default";
}

<section class="introduction">
    <div class="wrapper">

        <div class="jumbotron">
            <h1 class="display-4">Typography</h1>

            <p class="lead">The most important part of a user interface is the text. Words inform. Words instruct. Words are the first line of defense between a well-informed and happy user versus a confused and angry user.  The way in which an application speaks to a user should be at the front of every designer's and developer's mind. </p>

            <hr />
            <p>Bootstrap sets basic global display, typography, and link styles. When more control is needed, check out the <a href="https://getbootstrap.com/docs/4.0/utilities/text/" target="_blank">textual utility classes</a>.</p>
            <p><a href="https://getbootstrap.com/docs/4.0/content/typography/" class="btn btn-primary" target="_blank"><i class="fas fa-external-link-alt"></i> &nbsp; Bootstrap Documentation</a></p>
        </div>

        <div id="fontsUsed">

            <div class="card p-3 mb-4">
            <h2 id="bodyFont" class="main-font display-3"></h2>
            <hr />
            <div class="font-example main-font">
                <h3 class="display-4 main-font">Waves flung themselves at the blue evening</h3>
                <h5 class="text-muted text-uppercase main-font">My two natures had memory in common</h5>
                <p style="font-size:2em;">She stared through the window at the stars. The face of the moon was in shadow. Silver mist suffused the deck of the ship. It was going to be a lonely trip back.</p>
                <p class="lead">All their equipment and instruments are alive.</p>
                <p>She stared through the window at the stars. The face of the moon was in shadow. Silver mist suffused the deck of the ship. It was going to be a lonely trip back.</p>
                <p class="text-info"><small>Almost before we knew it, we had left the ground.</small></p>
                <p><b>Mist enveloped the ship three hours out from port.</b></p>
                <p><i>A red flare silhouetted the jagged edge of a wing.</i></p>
                <hr />
                <div><a href="https://fonts.google.com/" class="btn btn-primary" target="_blank"><i class="fas fa-external-link-alt"></i> &nbsp; From Google Fonts</a></div>
            </div>
            </div>

            <div class="card p-3 mb-4">
            <h2 id="headerFont" class="alt-font display-3"></h2>
            <hr />
            <div class="font-example alt-font">
                <h3 class="display-4">Waves flung themselves at the blue evening</h3>
                <h5 class="text-muted text-uppercase">My two natures had memory in common</h5>
                <p style="font-size:2em;">She stared through the window at the stars. The face of the moon was in shadow. Silver mist suffused the deck of the ship. It was going to be a lonely trip back.</p>
                <p class="lead">All their equipment and instruments are alive.</p>
                <p>She stared through the window at the stars. The face of the moon was in shadow. Silver mist suffused the deck of the ship. It was going to be a lonely trip back.</p>
                <p class="text-info"><small>Almost before we knew it, we had left the ground.</small></p>
                <p><b>Mist enveloped the ship three hours out from port.</b></p>
                <p><i>A red flare silhouetted the jagged edge of a wing.</i></p>
                <hr />
                <div class="main-font"><a href="https://fonts.google.com/" class="btn btn-primary" target="_blank"><i class="fas fa-external-link-alt"></i> &nbsp; From Google Fonts</a></div>
            </div>
            </div>

        </div>

        <div class="mb-4">
            <h2>Writing for Web Applications</h2>

            <p>Eyetracking research shows that people scan text in various patterns; The most common being the "F" pattern<sup>[1]</sup>. Forming a literal "F" shape, this pattern can also be synonymous with "fast."  That's how users prefer to read content. </p>

            <p><b>Besides the first few sentences, it is unlikely for a user to read a paragraph of text with their full attention</b>. These chances only diminish as they scroll further down the page.</p> 

            <p>This is why text must be concise in a web application. Anything longer than two sentences will likely cause the user's attention to stray. </p>

            <hr />

            <p class="small text-muted">[1: <a href="https://www.nngroup.com/articles/f-shaped-pattern-reading-web-content/" target="_blank">nngroup.com</a>] Users first read in a <b>horizontal movement</b>, usually across the upper part of the content area. This initial element forms the F's top bar. Next, users move a little ways down the page and read a few words across in a <b>second horizontal movement</b>. This action forms the F's lower bar.  Finally, users perform a brisk scan down the content's left side in a <b>vertical movement</b>. This action forms the F's stem.</p>

            <hr />

            <p>The typical page in an application focuses on either collecting or reporting information. People do not sign in to an application eager to read paragraphs of technical or instructional information. Once a user has grown accustomed to an application, they will likely never read the text again. This is why the interface should center around the information it is presenting or asking for. Text fills up the tiny places around those elements, explaining what they are and how they will respond to changes. Text should never get in the way. An application's usability can skyrocket when adhering to a few simple writing habits:</p>

            <ol>
                <li><p class="lead">Let the Design do the Talking</p>
                <p>As often as possible, "show, don't tell."  A self-explanatory interface outperforms one that is not. Rely on design patterns to explain the functionality and context of an element or page. Explanatory text should be used only in special cases.</p></li>

                <li><p class="lead">Chunk Content</p>
                <p>Chunking makes content more scannable by breaking it into manageable sections. It's much less likely for a user to feel overwhelmed when paragrahs are broken up into parts.</p></li>

                <li><p class="lead">Use Simple and Concise Sentences</p>
                <p>Start content with the most important piece of information so readers can get the main point, regardless of how much they read. The ideal standard is no more than 20 words per sentence, five sentences per paragraph. Use dashes instead of semi-colons, or break the sentence into two.</p></li>

                <li><p class="lead">Maintain a Reasonable Reading Level</p>
                <p>Beyond avoiding complex sentences, complex words or phrases can impede a user's workflow. Consider the possibility of a user knowing english as a second language. Or if they lack a high-school education. Maintaining a lower reading level provides access to a larger audience of users and often results in a higher quality of writing.</p></li>

                <li><p class="lead">Use Active Voice</p>
                <p>In a sentence written in the active voice, the subject of the sentence performs the action. In a sentence written in the passive voice the subject receives the action. Passive voice sentences often use more words, can be vague, and can lead to a tangle of prepositional phrases. Active voice ensure credit is given for every action, providing enough information to explain a problem and how to fix it.</p></li>

                <li><p class="lead">Avoid Using Adverbs</p>
                <p>Like dandelions, the use of one adverb can often multiply into many. Adverbs are used to modify a verb, often end in "-ly", and can quickly clutter a piece of writing when left unchecked. Instead of "very hot," consider only saying "hot," or using a more percise word like "scorching."</p></li>
                
            </ol>

            <div class="p-4">&nbsp;</div>

        </div>

        <div class="jumbotron mb-4">

            <div class="row">
            <div class="col-lg-4">
                <div class="bs-component">
                <h3>Headings</h3>
                <hr />
                <h1>Heading 1</h1>
                <h2>Heading 2</h2>
                <h3>Heading 3</h3>
                <h4>Heading 4</h4>
                <h5>Heading 5</h5>
                <h6>Heading 6</h6>
                <h3>
                    Heading
                    <small class="text-muted">with muted text</small>
                </h3>
                <p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="bs-component">
                <h3>Example body text</h3>
                <hr />
                <p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
                <p><small>This line of text is meant to be treated as fine print.</small></p>
                <p>The following is <strong>rendered as bold text</strong>.</p>
                <p>The following is <em>rendered as italicized text</em>.</p>
                <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="bs-component">
                <h3>Emphasis classes</h3>
                <hr />
                <p class="text-muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
                <p class="text-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
                <p class="text-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>
                <p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                <p class="text-secondary">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                </div>

            </div>
            </div>

            <!-- Blockquotes -->

            <div class="row">
            <div class="col-lg-12">
                <h3>Blockquotes</h3>
                <hr />
            </div>
            </div>
            <div class="row">
            <div class="col-lg-4">
                <div class="bs-component">
                <blockquote class="blockquote">
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                </blockquote>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="bs-component">
                <blockquote class="blockquote text-center">
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                </blockquote>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="bs-component">
                <blockquote class="blockquote text-right">
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                </blockquote>
                </div>
            </div>
            </div>
        </div>

        <div class="mb-4">

            <h3>Headings</h3>

            <p>All HTML headings, <code>&lt;h1&gt;</code> through <code>&lt;h6&gt;</code>, are available.</p>

            <table class="table">
            <thead>
                <tr>
                <th scope="col" style="width:15%">Heading</th>
                <th scope="col">Usage</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>
                    <p><code>&lt;h1&gt;&lt;/h1&gt;</code></p>

                </td>
                <td><h1>Page Header</h1>
                    <p class="text-secondary">Every page or view in an web application should include this tag <u>only once</u> and only to display the title of the page.</p>
                </td>
                </tr>
                <tr>
                <td>
                    <p><code>&lt;h2&gt;&lt;/h2&gt;</code></p>

                </td>
                <td><h2>Section Header</h2>
                    <p class="text-secondary">For pages that need to be broken down into sections, label each with this tag.</p>
                </td>
                </tr>
                <tr>
                <td>
                    <p><code>&lt;h3&gt;&lt;/h3&gt;</code></p>

                </td>
                <td><span class="h3">Sub-Section Header</span><br />
                    <p class="text-secondary">For sections that need to be further borken down. Never use these outside of a section not labled with an Section Heading.</p>
                </td>
                </tr>
                <tr>
                <td>
                    <p><code>&lt;h4&gt;&lt;/h4&gt;</code></p>

                </td>
                <td><h4>Component Header</h4>
                    <p class="text-secondary">For components that can be used throughout the application. Use only once per component to display its title.</p>
                </td>
                </tr>
                <tr>
                <td>
                    <p><code>&lt;h5&gt;&lt;/h5&gt;</code></p>

                </td>
                <td><span class="h5">Component Subheader</span><br />
                    <p class="text-secondary">For components that need to be broken down into sections, label each with this tag.</p>
                </td>
                </tr>
                <tr>
                <td>
                    <p><code>&lt;h6&gt;&lt;/h6&gt;</code></p>

                </td>
                <td><span class="h6">Mini-Header</span><br />
                    <p class="text-secondary">For any case not covered above, use this tag.</p>
                </td>
                </tr>
            </tbody>
            </table>

            <div class="mb-2">
                <p>Headings can be <a href="https://getbootstrap.com/docs/4.0/content/typography/#customizing-headings" target="_blank">customized</a> using Bootstrap classes. However, ensure headings are modified sparingly.  
            </div>

        </div>

        <div class="mb-4">

            <h3>Typographical Elements</h3>

            <p>Styling and code references for <a href="https://getbootstrap.com/docs/4.0/content/typography/#inline-text-elements" target="_blank">common inline HTML5 elements</a>.</p>

            <div class="row border-top">
                <div class="col-6">
                    <p>You can use the mark tag to <code>&lt;mark&gt;</code>highlight<code>&lt;/mark&gt;</code> text.</p>
                </div>    
                <div class="col-6">
                    <p>You can use the mark tag to <mark>highlight</mark> text.</p>
                </div>
            </div>
            <div class="row border-top">
                <div class="col-6">
                    <p><code>&lt;del&gt;</code>This line of text is meant to be treated as deleted text.<code>&lt;/del&gt;</code></p>
                </div>    
                <div class="col-6">
                    <p><del>This line of text is meant to be treated as deleted text.</del></p>
                    <span class="small text-muted">*Proper display of this feature is not supported in IE/Edge</span>
                </div>
            </div>
            <div class="row border-top">
                <div class="col-6">
                    <p><code>&lt;s&gt;</code>This line of text is meant to be treated as no longer accurate.<code>&lt;/s&gt;</code></p>
                </div>    
                <div class="col-6">
                    <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
                </div>
            </div>
            <div class="row border-top">
                <div class="col-6">
                    <p><code>&lt;ins&gt;</code>This line of text is meant to be treated as an addition to the document.<code>&lt;/ins&gt;</code></p>
                </div>    
                <div class="col-6">
                    <p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
                </div>
            </div>
            <div class="row border-top">
                <div class="col-6">
                    <p><code>&lt;u&gt;</code>This line of text will render as underlined<code>&lt;/u&gt;</code></p>
                </div>    
                <div class="col-6">
                    <p><u>This line of text will render as underlined</u></p>
                </div>
            </div>
            <div class="row border-top">
                <div class="col-6">
                    <p><code>&lt;small&gt;</code>This line of text is meant to be treated as fine print.<code>&lt;/small&gt;</code></p>
                </div>    
                <div class="col-6">
                    <p><small>This line of text is meant to be treated as fine print.</small></p>
                </div>
            </div>
            <div class="row border-top">
                <div class="col-6">
                    <p><code>&lt;strong&gt;</code>This line rendered as bold text.<code>&lt;/strong&gt;</code></p>
                </div>    
                <div class="col-6">
                    <p><strong>This line rendered as bold text.</strong></p>
                </div>
            </div>
            <div class="row border-top">
                <div class="col-6">
                    <p><code>&lt;em&gt;</code>This line rendered as italicized text.<code>&lt;/em&gt;</code></p>
                </div>    
                <div class="col-6">
                    <p><em>This line rendered as italicized text.</em></p>
                </div>
            </div>

            <div class="p-4"></div>



        </div>

        <div class="mb-4">

            <h3>Lists</h3>

            <p>Remove the default <code class="highlighter-rouge">list-style</code> and left margin on <a href="https://getbootstrap.com/docs/4.0/content/typography/#unstyled" target="_blank">list items</a> (immediate children only). <strong>This only applies to immediate children list items</strong>, meaning you will need to add the class for any nested lists as well.</p>

            <div class="row mb-4 p-2">
                <div class="col-6 bg-grey border">
<pre><code>&lt;ul class="list-unstyled"&gt;</code>
    <code>&lt;li&gt;</code>Lorem ipsum dolor sit amet<code>&lt;/li&gt;</code>
    <code>&lt;li&gt;</code>Consectetur adipiscing elit<code>&lt;/li&gt;</code>
    <code>&lt;li&gt;</code>Nulla volutpat aliquam velit
        <code>&lt;ul&gt;</code>
        <code>&lt;li&gt;</code>Phasellus iaculis neque<code>&lt;/li&gt;</code>
        <code>&lt;li&gt;</code>Purus sodales ultricies<code>&lt;/li&gt;</code>
        <code>&lt;li&gt;</code>Vestibulum laoreet porttitor sem<code>&lt;/li&gt;</code>
        <code>&lt;li&gt;</code>Ac tristique libero volutpat at<code>&lt;/li&gt;</code>
        <code>&lt;/ul&gt;</code>
    <code>&lt;/li&gt;</code>
    <code>&lt;li&gt;</code>Faucibus porta lacus fringilla vel<code>&lt;/li&gt;</code>
    <code>&lt;li&gt;</code>Aenean sit amet erat nunc<code>&lt;/li&gt;</code>
<code>&lt;/ul&gt;</code></pre>
                </div>
                <div class="col-6">
                    <ul class="list-unstyled">
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Consectetur adipiscing elit</li>
                        <li>Nulla volutpat aliquam velit
                            <ul>
                            <li>Phasellus iaculis neque</li>
                            <li>Purus sodales ultricies</li>
                            <li>Vestibulum laoreet porttitor sem</li>
                            <li>Ac tristique libero volutpat at</li>
                            </ul>
                        </li>
                        <li>Faucibus porta lacus fringilla vel</li>
                        <li>Aenean sit amet erat nunc</li>
                    </ul>
                </div>
            </div>

            <p>Align terms and descriptions <a href="https://getbootstrap.com/docs/4.0/content/typography/#description-list-alignment" target="_blank">horizontally</a> by using our grid system’s predefined classes (or semantic mixins). For longer terms, you can optionally add a <code class="highlighter-rouge">.text-truncate</code> class to truncate the text with an ellipsis.</p>

            <div class="row p-2">
                <div class="col-12 p-4 bg-grey border mb-4"><pre>
<code>&lt;dl class="row"&gt;</code>
    <code>&lt;dt class="col-sm-3"&gt;</code>Description lists<code>&lt;/dt&gt;</code>
    <code>&lt;dd class="col-sm-9"&gt;</code>A description list is perfect for defining terms.<code>&lt;/dd&gt;</code>

    <code>&lt;dt class="col-sm-3"&gt;</code>Euismod<code>&lt;/dt&gt;</code>
    <code>&lt;dd class="col-sm-9"&gt;</code>
        <code>&lt;p&gt;</code>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.<code>&lt;/p&gt;</code>
        <code>&lt;p&gt;</code>Donec id elit non mi porta gravida at eget metus.<code>&lt;/p&gt;</code>
    <code>&lt;/dd&gt;</code>

    <code>&lt;dt class="col-sm-3"&gt;</code>Malesuada porta<code>&lt;/dt&gt;</code>
    <code>&lt;dd class="col-sm-9"&gt;</code>Etiam porta sem malesuada magna mollis euismod.<code>&lt;/dd&gt;</code>

    <code>&lt;dt class="col-sm-3 text-truncate"&gt;</code>Truncated term is truncated<code>&lt;/dt&gt;</code>
    <code>&lt;dd class="col-sm-9"&gt;</code>Fusce dapibus, ut fermentum massa justo sit amet risus.<code>&lt;/dd&gt;</code>

    <code>&lt;dt class="col-sm-3"&gt;</code>Nesting<code>&lt;/dt&gt;</code>
    <code>&lt;dd class="col-sm-9"&gt;</code>
        <code>&lt;dl class="row"&gt;</code>
        <code>&lt;dt class="col-sm-4"&gt;</code>Nested definition list<code>&lt;/dt&gt;</code>
        <code>&lt;dd class="col-sm-8"&gt;</code>Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc.<code>&lt;/dd&gt;</code>
        <code>&lt;/dl&gt;</code>
    <code>&lt;/dd&gt;</code>
<code>&lt;/dl&gt;</code></pre>
                </div>
                <div class="col-12">
                    <dl class="row">
                        <dt class="col-sm-3">Description lists</dt>
                        <dd class="col-sm-9">A description list is perfect for defining terms.</dd>

                        <dt class="col-sm-3">Euismod</dt>
                        <dd class="col-sm-9">
                            <p>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</p>
                            <p>Donec id elit non mi porta gravida at eget metus.</p>
                        </dd>

                        <dt class="col-sm-3">Malesuada porta</dt>
                        <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>

                        <dt class="col-sm-3 text-truncate">Truncated term is truncated</dt>
                        <dd class="col-sm-9">Fusce dapibus, ut fermentum massa justo sit amet risus.</dd>

                        <dt class="col-sm-3">Nesting</dt>
                        <dd class="col-sm-9">
                            <dl class="row">
                            <dt class="col-sm-4">Nested definition list</dt>
                            <dd class="col-sm-8">Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc.</dd>
                            </dl>
                        </dd>
                    </dl>
                </div>
            </div>

            <div class="p-4"></div>

        </div>

    </div>
</section>


<script type="text/javascript">
    function getProeprty( element, property ) {
        return window.getComputedStyle( element, null ).getPropertyValue( property ).replace(/"/g,"").split(',')[0];
    }
    var bodyFont = document.getElementById( 'bodyFont' ),
    headerFont = document.getElementById( 'headerFont' );
    bodyFont.innerHTML = getProeprty( bodyFont , 'font-family' );
    headerFont.innerHTML = getProeprty( headerFont , 'font-family' );

</script>