@page
@model IndexModel
@{
    ViewData["Title"] = "Accessibility";
    var pg = ViewBag;
        pg.title = "Accessibility";
        pg.id = 3;
        pg.parent = null;
        pg.hasSidebar = true;
        pg.type = "default";
}

<section class="introduction">
    <div class="wrapper">

        <blockquote class="jumbotron">
            <h1>Accessibility</h1>
            <p class="lead">A brief overview of the features and methods used for the creation of accessible content.</p>
            <hr />
            <p>Bootstrap provides an easy-to-use framework of ready-made styles, layout tools, and interactive components, allowing developers to create websites and applications that are visually appealing, functionally rich, and accessible out of the box.</p>
            <p><a class="btn btn-primary" href="https://getbootstrap.com/docs/4.1/getting-started/accessibility/" target="_blank"><i class="fas fa-external-link-alt"></i> &nbsp; Bootstrap Documentation</a><p>
        </blockquote>

        <div class="mb-4">
            <p class="lead">For a complete rundown of web accessibility standards and guidelines, view the <a href="/AccGuide/">Accessibility Guidelines</a>.</p>
        </div>

        <div class="mb-4">
            <p>Web accessibility means creating digital resources on the web that everyone can use. This involves creating a web that is accessible to people with disabilities that may affect how they use the Web, including but not limited to visual, auditory, physical, speech, cognitive and neurological disabilities.</p>
            <p>An accessible web benefits <b>everyone</b>. People with or without disabilities. Web users and web developers. People with diverse needs and preferences. An accessible web gives people the flexibility to access digital materials in whatever way they need or want to.</p>

            <p><b>Human beings are all different and diverse</b>. Just as we celebrate the diversity of individuals in a cultural context, so should we design technologies that take diverse needs and preferences into account.</p>
            <p><b>Accessible design is innovative design</b>. The same design principles that make technologies accessible — semantic mark-up, intuitive information hierarchy, machine-readable text — are also principles that promote mobile design and a semantic web.</p>
            <p><b>Technology has the potential to be a great equalizer</b> — but inaccessible technology only further excludes people. Let’s embrace the potential of technology to let people be as independent, self-sufficient, and connected as possible.</p>
            <p><b>Research libraries should have user-focused policies and procedures</b> for patrons with disabilities that are readily available and kept up to date. Accessibility service awareness needs to be a standard part of staff training. This will fulfill the mission of all libraries to be inclusive hubs of access to information.</p>

        </div>

        <div class="mb-4">

            <h3>Technical Standards</h3>
            <p>Below you will find a list of some key principles of accessible design. Most accessibility principles can be implemented very easily and will not impact the overall &#8220;look and feel&#8221; of your web site.</p>
            <ol>
                <li>
                    <a href="http://webaim.org/techniques/alttext/" title="WebAIM alt text explanation">Provide appropriate alternative text</a>
                    <p>Alternative text provides a textual alternative to non-text content (such as pictures and images) in web pages. It is especially helpful for people who are blind and rely on a screen reader to have the content of the website read to them.</p>
                </li>
                <li>
                    <a href="http://webaim.org/techniques/semanticstructure/" title="WebAIM document structure explanation">Provide appropriate document structure</a>
                    <p>Headings, lists, and other structural elements provide meaning and structure to web pages. They can also facilitate keyboard navigation within the page.</p>
                </li>
                <li>
                    <a href="http://webaim.org/techniques/tables/" title="WebAIM headers explanation">Provide headers for data tables</a>
                    <p>Tables are used online for layout and to organize data. Tables that are used to organize tabular data should have appropriate table headers (the &lt;th&gt; element). Data cells should be associated with their appropriate headers, making it easier for screen reader users to navigate and understand the data table.</p>
                </li>
                <li>
                    <a href="http://webaim.org/techniques/forms/" title="WebAIM creating accessible forms">Ensure users can complete and submit all forms</a>
                    <p>Ensure that every form element (text field, checkbox, dropdown list, etc.) has a label and make sure that label is associated to the correct form element using the &lt;label&gt; element. Also make sure the user can submit the form and recover from any errors, such as the failure to fill in all required fields.</p>
                </li>
                <li>
                    <a href="http://webaim.org/techniques/hypertext/" title="WebAIM intro to links and hypertext">Ensure links make sense out of context</a>
                    <p>Every link should make sense if the link text is read by itself. Screen reader users may choose to read only the links on a web page. Certain phrases like &#8220;click here&#8221; and &#8220;more&#8221; must be avoided.</p>
                </li>
                <li>
                    <a href="http://webaim.org/techniques/captions/" title="WebAIM captions, transcripts and hypertext">Caption and/or provide transcripts for media</a>
                    <p>Videos and live audio must have captions and a transcript. With archived audio, a transcription may be sufficient.</p>
                </li>
                <li>Ensure accessibility of non-HTML content, including <a href="http://webaim.org/techniques/acrobat/" title="PDF Accessibility">PDF files</a>, <a href="http://webaim.org/techniques/word/" title="Microsoft Word Accessibility">Microsoft Word</a> documents, <a href="http://webaim.org/techniques/powerpoint/" title="PowerPoint Accessibility">PowerPoint</a> presentations and <a href="http://webaim.org/techniques/flash/" title="Creating accessible flash content">Adobe Flash</a> content
                    <p>In addition to all of the other principles listed here, PDF documents and other non-HTML content must be as accessible as possible. If you cannot make it accessible, consider using HTML instead or, at the very least, provide an accessible alternative. PDF documents should also include a series of tags to make it more accessible. A tagged PDF file looks the same, but it is almost always more accessible to a person using a screen reader.</p>
                </li>
                <li>
                    <a href="http://webaim.org/techniques/skipnav/" title="&quot;Skip Navigation&quot; links">Allow users to skip repetitive elements on the page</a>
                    <p>You should provide a method that allows users to skip navigation or other elements that repeat on every page. This is usually accomplished by providing a &#8220;Skip to Main Content,&#8221; or &#8220;Skip Navigation&#8221; link at the top of the page which jumps to the main content of the page.</p>
                </li>
                <li>
                    <a href="http://webaim.org/articles/visual/colorblind" title="color-blindness">Do not rely on color alone to convey meaning</a>
                    <p>The use of color can enhance comprehension, but do not use color alone to convey information. That information may not be available to a person who is colorblind and will be unavailable to screen reader users.</p>
                </li>
                <li>
                    <a href="http://webaim.org/techniques/writing/" title="Writing clearly and simply">Make sure content is clearly written and easy to read</a>
                    <p>There are many ways to make your content easier to understand. Write clearly, use clear fonts, and use headings and lists appropriately.</p>
                </li>
                <li>
                    <a href="http://webaim.org/techniques/javascript/" title="accessible JavaScript">Make JavaScript accessible</a>
                    <p>Ensure that JavaScript event handlers are device independent (e.g., they do not require the use of a mouse) and make sure that your page does not rely on JavaScript to function.</p>
                </li>
                <li>
                    <a href="https://developer.mozilla.org/en-US/docs/Learn/Accessibility/CSS_and_JavaScript" title="Design to standard">Design to standards</a>
                    <p>Ensure that every page is fully-functional even when the stylesheets are disabled. HTML compliant and accessible pages are more robust and provide better search engine optimization. <a href="http://webaim.org/techniques/css/" title="Accessible CSS">Cascading Style Sheets (CSS)</a> allow you to separate content from presentation. This provides more flexibility and accessibility of your content.</p>
                </li>
            </ol>

        </div>

        <hr />

        <div class="mb-4">

            <h3 id="visually-hidden-content">Visually Hidden Content</h3>

            <p>Content which should be visually hidden, but remain accessible to assistive technologies such as screen readers, can be styled using the <code class="highlighter-rouge">.sr-only</code> class. This can be useful in situations where additional visual information or cues (such as meaning denoted through the use of color) need to also be conveyed to non-visual users.</p>

            <figure class="highlight bg-grey border p-2">
<pre><code class="language-html" data-lang="html"><span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"text-danger"</span><span class="nt">&gt;</span>
<span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"sr-only"</span><span class="nt">&gt;</span>Danger: <span class="nt">&lt;/span&gt;</span>
This action is not reversible
<span class="nt">&lt;/p&gt;</span></code></pre></figure>

            <p>For visually hidden interactive controls, such as traditional “skip” links, <code class="highlighter-rouge">.sr-only</code> can be combined with the <code class="highlighter-rouge">.sr-only-focusable</code> class. This will ensure that the control becomes visible once focused (for sighted keyboard users).</p>

            <figure class="highlight bg-grey border p-2"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"sr-only sr-only-focusable"</span> <span class="na">href=</span><span class="s">"#content"</span><span class="nt">&gt;</span>Skip to main content<span class="nt">&lt;/a&gt;</span></code></pre></figure>

        </div>

    </div>
</section>
