@page
@model IndexModel
@{
    ViewData["Title"] = "Supported Environments";
    var pg = ViewBag;
        pg.title = "Environments";
        pg.id = 2;
        pg.parent = null;
        pg.hasSidebar = true;
        pg.type = "default";
}

<section class="introduction">
    <div class="wrapper">

        <blockquote class="jumbotron">
            <h1>Supported Environments</h1>
            <p class="lead">This UI Kit supports all major "evergreen" browsers running on any device that supports them.</p>
            <p>The following will help provide information on how to properly construct the layout of an application to display properly on severy supported device.</p>
        </blockquote>

        <div class="mb-4">

          <h2 id="supported-browsers">Supported browsers</h2>

            <p>DCF's UI Kit supports the <strong>latest, stable releases</strong> of all major browsers and platforms. On Windows, <strong>we support Internet Explorer 11 and the latest version of Microsoft Edge</strong>.</p>

            <p>Alternative browsers which use the latest version of WebKit, Blink, or Gecko, whether directly or via the platform's web view API, are not explicitly supported. However, the kit should (in most cases) display and function correctly in these browsers as well.</p>

            <h3 id="mobile-devices">Mobile devices</h3>

            <p>Generally speaking, this UI Kit supports the latest versions of each major platform's default browsers. Note that proxy browsers (such as Opera Mini, Opera Mobile's Turbo mode, UC Browser Mini, Amazon Silk) are not supported.</p>

            <table class="table table-bordered table-striped">
            <thead>
                <tr>
                <td></td>
                <th>Chrome</th>
                <th>Firefox</th>
                <th>Safari</th>
                <th>Android Browser &amp; WebView</th>
                <th>Microsoft Edge</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">Android</th>
                <td class="text-success">Supported</td>
                <td class="text-success">Supported</td>
                <td class="text-muted">N/A</td>
                <td class="text-success">Android v5.0+ supported</td>
                <td class="text-success">Supported</td>
                </tr>
                <tr>
                <th scope="row">iOS</th>
                <td class="text-success">Supported</td>
                <td class="text-success">Supported</td>
                <td class="text-success">Supported</td>
                <td class="text-muted">N/A</td>
                <td class="text-success">Supported</td>
                </tr>
                <tr>
                <th scope="row">Windows 10 Mobile</th>
                <td class="text-muted">N/A</td>
                <td class="text-muted">N/A</td>
                <td class="text-muted">N/A</td>
                <td class="text-muted">N/A</td>
                <td class="text-success">Supported</td>
                </tr>
            </tbody>
            </table>

            <h3 id="desktop-browsers">Desktop browsers</h3>

            <p>Similarly, the latest versions of most desktop browsers are supported.</p>

            <table class="table table-bordered table-striped">
            <thead>
                <tr>
                <td></td>
                <th>Chrome</th>
                <th>Firefox</th>
                <th>Internet Explorer</th>
                <th>Microsoft Edge</th>
                <th>Opera</th>
                <th>Safari</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">Mac</th>
                <td class="text-success">Supported</td>
                <td class="text-success">Supported</td>
                <td class="text-muted">N/A</td>
                <td class="text-muted">N/A</td>
                <td class="text-success">Supported</td>
                <td class="text-success">Supported</td>
                </tr>
                <tr>
                <th scope="row">Windows</th>
                <td class="text-success">Supported</td>
                <td class="text-success">Supported</td>
                <td class="text-success">Supported, IE11+</td>
                <td class="text-success">Supported</td>
                <td class="text-success">Supported</td>
                <td class="text-danger">Not supported</td>
                </tr>
            </tbody>
            </table>

            <p>For Firefox, in addition to the latest normal stable release, the UI Kit also supports the latest <a href="https://www.mozilla.org/en-US/firefox/organizations/faq/">Extended Support Release (ESR)</a> version of Firefox.</p>

            <p>Unofficially, this kit should look and behave well enough in Chromium and Chrome for Linux, Firefox for Linux, and Internet Explorer 9, though they are not officially supported.</p>

            <p>For a list of some of the browser bugs that this kit has to grapple with, see bootstrap's <a href="https://getbootstrap.com/docs/4.0/browser-bugs/" target="_blank">Wall of browser bugs</a>.</p>

            <h2 id="internet-explorer">Internet Explorer</h2>

            <p>Internet Explorer 11+ is supported; IE9 and down is not. Please be aware that some CSS3 properties and HTML5 elements are not fully supported in IE11, or require prefixed properties for full functionality. Visit <a href="https://caniuse.com/">Can I use…</a> for details on browser support of CSS3 and HTML5 features.</p>

        </div>

        <div class="mb-4"></div>

    </div>
</section>
