@page
@model IndexModel
@{
    ViewData["Title"] = "Layouts";
    var pg = ViewBag;
        pg.title = ViewData["Title"];
        pg.id = 20;
        pg.parent = null;
        pg.hasSidebar = true;
        pg.hasFooter = true;
        pg.type = "default";
}

<section class="introduction">
    <div class="wrapper">

        <blockquote class="jumbotron">
            <h1>Layouts</h1>
            <p class="lead">Every page in a web application is special, but they all share similar qualities and form relationships between one-another. Standardized layouts help applications maintain consistency and flow by assigning visual and functional framewoks for each page.</p>
            <hr />
            <p>For a complete rundown of Front-End development standards and guidelines, view the following guide:</p>
            <a href="/MarkupGuide/" class="btn btn-primary"><i class="far fa-file-alt"></i> &nbsp; Front-End Development Guidelines</a>
        </blockquote>

        <div class="mb-4">

            <h2 class="border-bottom pb-1 mt-2">Page Templates</h2>
            <p>Page templates serve as a boilerplate for the pages that exist in typical web applications. Though the source code for these templates have CSS styles and JavaScript inline with the HTML markup, please ensure that any Javascript or CSS is in its own file and only loaded for pages that require it. </p>


            <h3>Navigational Pages</h3>
            <p class="text-muted">The purpose of navigational pages is to direct people to the content they are looking for; examples include home page, landing pages, and galleries.</p>
            <ul>
                <li>Dashboard</li>
                <li>Category</li>
                <li>Gallery</li>
                <li>Search Results</li>
                <li>Sitemap</li>
            </ul>

            <h3>Informational Pages</h3>
            <p class="text-muted">Informational pages are the substance of your site and why people are ultimately there; examples include articles and product pages.</p>
            <ul>
                <li>Basic Tables</li>
                <li>Datatables</li>
                <li>Details</li>
                <li>Profile</li>
            </ul>


            <h3>Functional Pages</h3>
            <p class="text-muted">Functional pages allow people to perform a task, such as conduct a search or check email; examples include search pages, submission forms, and applications.</p>

            <ul>
                <li>Document Generation</li>
                <li>Generic Form</li>
                <li><a href="/templates/formSteps">Tabbed Form</a></li>
                <li>Modal Form</li>
            </ul>

            <h3>Security Pages</h3>
            <p class="text-muted">Security pages are similar to Functional pages, but perform tasks that don't display information from or modify a database.</p>
            <ul>
                <li><a href="/templates/login">Login</a></li>
                <li>400 Errors</li>
                <li>500 Errors</li>
                <li>Security Errors</li>
            </ul>
        </div>



    </div>
</section>
